<!DOCTYPE html>
<html>
<head>
	<title>
		MCQ Examinatons-Login
	</title>
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
	{% block bootstrap3_content %}	
		<div class="row">
			<div class="center-block col-sm-4" style="float: none">
				<form action="/my_page/" method="post">
					{% if error %}
						<p style="color:#FF0000;">Invalid Details</p>
					{% endif %}
					<div class="form-group">
					    <label for="username">User Name:</label>
					    <input type="text" class="form-control" id="username" name="user_name">
				  	</div>
				  	<div class="form-group">
					    <label for="pwd">Password:</label>
					    <input type="password" class="form-control" id="pwd" name="password">
				  	</div>
				  	<div class="form-group">
				  			<label for="role_id">Role:</label>
				    		<select class="form-control" id="role_id" name="role">
							 	<option value="student">Student</option>
							 	<option value="faculty">Faculty</option>
							</select>
				  	</div>
				  	<button type="submit" class="btn btn-default">Submit</button>
				  	{% csrf_token %}
				</form>
			</div>
		</div>	
	{% endblock %}
</body>
</html>