<div class="container" style="width: 100%">
	<div class="row" style="height:200px;background:#00838F;padding-left: 20px">
		{% load static %}
		<img src="{% static "media/iitj.png" %}" style="height: 160px;width: 160px;margin-top: 20px;">
		<div class="pull-right" style="margin-top:50px;margin-right: 20px;height: 50px;">
			<h3 align="right" style="color:#FAFAFA">Indian Institute of Technology Jodhpur</h3>
			<h3 align="right" style="color:#FAFAFA">...committed to Technology devlopement of India</h3>
		</div>
	</div>
</div>
